@import '@/scss/utils.scss';

.container {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-brown);
  line-height: 2rem;

  .text-box {
    @include text-content;
    color: var(--muted-brown);
    font-size: 1.2rem;

    .title {
      font-weight: bold;
      border: 1px solid var(--muted-rose);
      border-left: none;
      border-right: none;
      padding: 1rem;
      margin: 3rem;
    }
  }
}
