.icon {
  font-size: 1.8rem;
  // color: #fff;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  text-align: center;
  line-height: 3rem;
}
/* .bride-icon {
  background-color: var(--muted-pink);
}
.groom-icon {
  background-color: var(--skyblue);
}
 */
