.container {
  padding: 2.4rem;

  /* 섹션 타이틀 */
  .txt-title {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-bottom: 3.2rem;
    color: var(--muted-rose);
    text-align: center;
  }
}
