//TODO:: 미사용폰트 제거 및 사용폰트 다운로드/압축하기

// 이롭게 바탕체
@font-face {
  font-family: 'IropkeBatangM';
  src:
    url('../assets/fonts/IropkeBatangM.woff2') format('woff2'),
    url('../assets/fonts/IropkeBatangM.woff') format('woff'),
    url('../assets/fonts/IropkeBatangM.ttf') format('truetype');
}

//   font-family: "Lobster", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+BE+WAL:wght@100..400&display=swap');

@font-face {
  font-family: 'lobsterregular';
  src:
    url('../assets/fonts/lobster-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abril_fatfaceregular';
  src:
    url('../assets/fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/abrilfatface-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hurricaneregular';
  src:
    url('../assets/fonts/hurricane-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/hurricane-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
