// 이롭게 바탕체
@font-face {
  font-family: 'IropkeBatangM';
  src:
    url('../assets/fonts/IropkeBatangM.woff2') format('woff2'),
    url('../assets/fonts/IropkeBatangM.woff') format('woff'),
    url('../assets/fonts/IropkeBatangM.ttf') format('truetype');
}

// FingerPaint
@font-face {
  font-family: 'Finger Paint';
  src:
    url('../assets/fonts/FingerPaint-Regular.ttf') format('woff2'),
    url('../assets/fonts/FingerPaint-Regular.woff') format('woff'),
    url('../assets/fonts/FingerPaint-Regular.ttf') format('truetype');
}

// 따악단단
@font-face {
  font-family: 'NanumDdaAgDanDan';
  src:
    url('../assets/fonts/NanumDdaAgDanDan.ttf') format('woff2'),
    url('../assets/fonts/NanumDdaAgDanDan.woff') format('woff'),
    url('../assets/fonts/NanumDdaAgDanDan.ttf') format('truetype');
}
