@mixin text-content {
  line-height: 2rem;
  text-align: center;
  margin: 4rem auto 0;
  letter-spacing: -0.1rem;
  white-space: pre-line;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
